[Unit]
Description=Gunicorn for {{ app_name }}
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}
ExecStart={{ app_dir }}/venv/bin/gunicorn -b 127.0.0.1:{{ app_port }} app:app
Restart=always

[Install]
WantedBy=multi-user.target
